apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  wordpress.conf: |
    server {
    listen 80;
    server_name wordpress.local;

    root /site;
    index index.php;

    access_log /var/log/nginx/site-access.log;
    error_log /var/log/nginx/site-error.log;

    location / {
      try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
      try_files $uri =404;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass php:9000;
      fastcgi_index index.php;
      include fastcgi_params;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PATH_INFO $fastcgi_path_info;
      }
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: lemp
  name: nginx-deploy
  labels:
    app: web-app
spec:
  selector:
    matchLabels:
      run: nginx
  replicas: 1 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        run: nginx
    spec:
      containers:
      - name: nginx
        image: l9xhub/nginx:latest
        volumeMounts:
        - mountPath: "/site"
          name: hostpath-privileged
        - mountPath: /var/log/nginx
          name: logs-volume
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/wordpress.conf
          subPath: wordpress.conf
          readOnly: true
        ports:
          - containerPort: 80
      volumes:
        - name: hostpath-privileged
          persistentVolumeClaim:
            claimName: wp-pv-volume
        - name: logs-volume
          emptyDir: {}
        - name: nginx-conf
          configMap:
            name: nginx-conf
            items:
              - key: wordpress.conf
                path: wordpress.conf
      imagePullSecrets:
      - name: private-registry-cred
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    run: nginx
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
    nodePort: 30001
  selector:
    run: nginx
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: wp-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/mnt/data/site"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pv-volume
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: manual
